<a href="https://colab.research.google.com/github/JLeninMChura/BigDataClase0001/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ejercicio 1 - Carga de un archivo CSV desde Drive

In [ ]:
import pandas as pd

In [ ]:
datos = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRAw21hrrSAlaHSVZ5gH8N8GjfYrgJM5HMPxpjhl63P-dDQa7o4I1NpV_vKGxjNrHizQ4YN1mE-Pj7W/pub?gid=1804714029&single=true&output=csv")

print(datos)

       nombre  edad    ciudad  ingresos
0        Juan    30      Lima      2500
1       María    28  Arequipa      3800
2        Luis    35     Cusco      4800
3         Ana    22  Trujillo      2000
4       Pedro    28  Arequipa      3200
5      Leonel    64   Juliaca      4980
6       Laura    31      Lima      4200
7      Carlos    25     Cusco      1800
8       Sofía    29  Trujillo      2900
9      Andrés    27      Lima      2600
10   Gabriela    33  Arequipa      4000
11    Micaela    21   Juliaca      5000
12      Diego    24     Cusco      3200
13  Valentina    26  Trujillo      3500
14     Lorena    30      Lima      3800
15     Javier    32  Arequipa      5000
16    Daniela    29      Lima      2700
17     Manuel    31  Trujillo      2700
18   Fernanda    28     Cusco      2100
19    Ricardo    35      Lima      4400
20      Lucía    23  Trujillo      1500
21       José    34  Arequipa      4200
22      Willy    55      Puno      1300

In [ ]:
suma_ingresos = datos

#Ejercicio 2 - Carga de archivo CSV Desde drive

In [ ]:
data = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRqgSe0k4O9E2684cwFsEZqq8G03y-D47iaT4nZdTs5q5J-QcTdhgnKefJjf4oa6CfnjiBlthhYNQjq/pub?output=csv")

print(data)

       nombre  edad     genero    ciudad  ingresos      educacion  \
0        Juan    28  Masculino      Lima      4500  Universitario
1       María    35   Femenino  Arequipa      3500     Secundaria
2        Luis    40  Masculino     Cusco      5200  Universitario
3         Ana    22   Femenino      Lima      2800  Universitario
4      Walter    19  Masculino   Juliaca      3100        Técnico
5       Pedro    30  Masculino  Arequipa      4000        Técnico
6       Laura    27   Femenino      Lima      3200     Secundaria
7      Carlos    29  Masculino     Cusco      4800  Universitario
8       Sofía    25   Femenino      Lima      3000  Universitario
9   Esmeralda    23   Femenino   Juliaca      3200  Universitario
10     Andrés    33  Masculino  Arequipa      4200  Universitario
11   Gabriela    31   Femenino      Lima      3800  Universitario
12      Diego    26  Masculino     Cusco      3600        Técnico
13    Ernesto    42  Masculino   Juliaca      4200        Técnico

    estado_civil
0        Soltero
1         Casado
2         Casado
3        Soltero
4        Soltero
5        Soltero
6         Casado
7   Comprometido
8        Soltero
9        Soltero
10        Casado
11    Divorciado
12  Comprometido
13        Casado